# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables — NEVER upload these(security reasons)
.env
.env.local
.env.production

# Build output
dist/
build/

# Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
